[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pelican = "==3.6.3"
Markdown = "==2.6.6"
"ghp-import" = "==0.4.1"
"beautifulsoup4" = "==4.4.1"


[dev-packages]
